@font-face {
  font-family: "iconfont"; /* Project id 4789124 */
  src: url('//at.alicdn.com/t/c/font_4789124_mpsscjdmuj.woff2?t=1734692644147') format('woff2'),
  url('//at.alicdn.com/t/c/font_4789124_mpsscjdmuj.woff?t=1734692644147') format('woff'),
  url('//at.alicdn.com/t/c/font_4789124_mpsscjdmuj.ttf?t=1734692644147') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiushuihongjiuhongjiubei:before {
  content: "\e652";
}

.icon-chaye:before {
  content: "\e61d";
}

.icon-qita:before {
  content: "\e626";
}

.icon-yinliao1:before {
  content: "\e691";
}

.icon-qita1:before {
  content: "\e60b";
}

.icon-baijiu:before {
  content: "\e615";
}

.icon-jinshujiagong:before {
  content: "\e719";
}

.icon-shipinyinliao:before {
  content: "\e71a";
}

.icon-zhilengnuantong:before {
  content: "\e71b";
}

.icon-zhoucheng:before {
  content: "\e71c";
}

.icon-zhileng:before {
  content: "\e71d";
}

.icon-qicheyongpin:before {
  content: "\e71e";
}

.icon-jiulei:before {
  content: "\e71f";
}

.icon-wanjuleqi:before {
  content: "\e720";
}

.icon-hangkongjizaichanpin:before {
  content: "\e721";
}

.icon-fushineiyi1:before {
  content: "\e722";
}

.icon-douzhipin:before {
  content: "\e723";
}

.icon-nailei:before {
  content: "\e724";
}

.icon-shuiguo:before {
  content: "\e725";
}

.icon-tiaoliao:before {
  content: "\e726";
}

.icon-xurou:before {
  content: "\e727";
}

.icon-qindan:before {
  content: "\e728";
}

.icon-yinliao:before {
  content: "\e729";
}

.icon-shuichan:before {
  content: "\e72a";
}

.icon-shucai:before {
  content: "\e72b";
}

.icon-tiaoliao1:before {
  content: "\e72c";
}

.icon-chuju:before {
  content: "\e6dd";
}

.icon-dianqi:before {
  content: "\e6de";
}

.icon-chongwushenghuo:before {
  content: "\e6df";
}

.icon-fajiguandao:before {
  content: "\e6e0";
}

.icon-dianxiandianlan:before {
  content: "\e6e1";
}

.icon-donglichuandong:before {
  content: "\e6e2";
}

.icon-diannaobangong:before {
  content: "\e6e3";
}

.icon-fushineiyi:before {
  content: "\e6e4";
}

.icon-gerenfanghu:before {
  content: "\e6e5";
}

.icon-gongyepin:before {
  content: "\e6e6";
}

.icon-dongligongju:before {
  content: "\e6e7";
}

.icon-gongju:before {
  content: "\e6e8";
}

.icon-gongweishebei:before {
  content: "\e6e9";
}

.icon-jiafang:before {
  content: "\e6ea";
}

.icon-jiaju:before {
  content: "\e6eb";
}

.icon-huaxueshiji:before {
  content: "\e6ec";
}

.icon-jiayongdianqi:before {
  content: "\e6ed";
}

.icon-jianzhuhangye:before {
  content: "\e6ee";
}

.icon-hanjie:before {
  content: "\e6ef";
}

.icon-jiazhuangjiancai:before {
  content: "\e6f0";
}

.icon-gerenhuli:before {
  content: "\e6f1";
}

.icon-jiajuriyong:before {
  content: "\e6f2";
}

.icon-houchuyongpinyushebei:before {
  content: "\e6f3";
}

.icon-jiaodaijibiaoqian:before {
  content: "\e6f4";
}

.icon-jiaonianji:before {
  content: "\e6f5";
}

.icon-kongqidongli:before {
  content: "\e6f6";
}

.icon-moshui:before {
  content: "\e6f7";
}

.icon-mifengjian:before {
  content: "\e6f8";
}

.icon-nongchantourupin:before {
  content: "\e6f9";
}

.icon-meizhuanghufu:before {
  content: "\e6fa";
}

.icon-jingujian:before {
  content: "\e6fb";
}

.icon-qidongyeya:before {
  content: "\e6fc";
}

.icon-lipin:before {
  content: "\e6fd";
}

.icon-muying:before {
  content: "\e6fe";
}

.icon-nongziyuanyi:before {
  content: "\e6ff";
}

.icon-shiyanshihaocai:before {
  content: "\e700";
}

.icon-qingjieyongpin:before {
  content: "\e701";
}

.icon-runhua:before {
  content: "\e702";
}

.icon-shengxian:before {
  content: "\e703";
}

.icon-qingxifangxiu:before {
  content: "\e704";
}

.icon-shiyanshiyiqi:before {
  content: "\e705";
}

.icon-shoujitongxun:before {
  content: "\e706";
}

.icon-shougongju:before {
  content: "\e707";
}

.icon-shuma:before {
  content: "\e708";
}

.icon-tuomojixiangguanchanpin:before {
  content: "\e709";
}

.icon-shipinyuancailiao:before {
  content: "\e70a";
}

.icon-tushu:before {
  content: "\e70b";
}

.icon-tuliaojihaobiaoshi:before {
  content: "\e70c";
}

.icon-xiangbaopiju:before {
  content: "\e70d";
}

.icon-wujinjian:before {
  content: "\e70e";
}

.icon-yiqiyibiao:before {
  content: "\e70f";
}

.icon-yundonghuwai:before {
  content: "\e710";
}

.icon-wenyu:before {
  content: "\e711";
}

.icon-yiliaobaojian:before {
  content: "\e712";
}

.icon-zhaoming:before {
  content: "\e713";
}

.icon-zhipin:before {
  content: "\e714";
}

.icon-zhenkong:before {
  content: "\e715";
}

.icon-zhubaoshoushi:before {
  content: "\e716";
}

.icon-zhongbiao:before {
  content: "\e717";
}

.icon-xiexue:before {
  content: "\e718";
}
